<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%= htmlWebpackPlugin.options.title %>Home</title>
<link rel="icon" type="image/png" href="<%= require('../image/small-logo-01.png') %>" />
</head>
<body>
   <script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>  


<div id="wrapper-plus" class="object"></div>

<!-- HEADER -->

<div id="A1-main">
        
    <div id="wrapper-logo" class="object">
    <a href="#"><div id="logo" class="shadow object" ><img src="<%= require('../image/logotop.svg') %>" width="169" height="45"/></div></a>
    </div>
    
    <div id="A1">
    
        <div class="blank"></div>
    
        <div id="A0"></div>
        <div id="A0-2"></div>
        <div id="trame"></div>
        
        
        <div id="wrapper-head">
            <div id="title" class="object">生命中更多的是阳光.</div>
            <div id="wrapper-learnmore">
                <div class="bouton-learnmore object">
                    <a href="user-login.html"><div class="text-learnmore object">登陆/注册</div></a>
                </div>
            </div>
           <a href="#ancre"><div id="fleche1"></div></a>
        </div>



        <div id="wrapper-plus" class="object"></div>
        
    </div>
    <nav id="menu-wrap"><div id="menu-trigger">Menu</div>    
                <ul id="menu" style="display: none;">
                    <li><a href="index.html">首页</a></li>
                    <li>
                        <a href="user-center.html">个人中心</a>
                    </li>
                    <li><a href="single.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    </li>
                </ul>
            </nav>
    <!-- <div class="nav1">
    <ul> 
        <li><a href="index.html">首页</a></li> 
        <li><a href="user-center.html">个人信息</a></li> 
        <li><a href="">about</a></li> 
        <li><a href="">another</a></li>  -->
        <!-- <li><a href=""></a></li> 
        <li><a href=""></a></li>  -->
 <!--    </ul> 
</div> -->
        

<a name="ancre"></a>

<!-- PART 2 - TITLE -->

<div id="A2">
    
    <div id="text-2" class="wow fadeIn" data-wow-offset="10">在这里开始了解抑郁症。</span></div>
    
</div>
    
<!-- PART 3 - PORTFOLIO ARTICLES 3 GRID -->

<div id="wrapper-A3" class="object">
    
        <div id="A3-left">
        
            <!---<div id="wrapper-post1" class="text-part-A5">
                <div class="video-container-1">
                    <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
                </div>
            
                <div id="wrapper-A3-left-date-1">
                    <div id="A3-left-date-1">22 nov, 2016</div>
                    <div id="A3-left-icone-1"></div>
                </div> 
                <ul>
                    <li><div id="A3-left-title-1"><a href="spore-post1.html">Post a Youtube video</a></div></li>
                </ul>
                <div id="A3-left-text-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>  
            </div>--->
            
            <div id="wrapper-post2" class="text-part-A5">
                <a href="spore-post2.html"><div id="A3-left-image-2"><img src="<%= require('../image/image1-01.jpg') %>"  alt="post an image with animation" title="post an image with animation" class="grow"/></div></a>
            
                <div id="wrapper-A3-left-date-2">
                    <div id="A3-left-date-2">21 nov, 2016</div>
                    <div id="A3-left-icone-2"></div>
                </div> 
                <ul>
                    <li><div id="A3-left-title-2"><a href="spore-post2.html">什么是抑郁症</a></div></li> 
                </ul>
                <div id="A3-left-text-2">抑郁症的本质。</div>  
            </div>
            
             <div id="wrapper-post3" class="text-part-A5">
                <a href="spore-post3.html"><div id="A3-left-image-3"><img src="<%= require('../image/image6-01.jpg') %>"  alt="Auto-resized image" title="Auto-resized image" class="grow"/></div></a>
            
                <div id="wrapper-A3-left-date-3">
                    <div id="A3-left-date-3">20 nov, 2016</div>
                    <div id="A3-left-icone-3"></div>
                </div> 
                <ul>
                    <li><div id="A3-left-title-3"><a href="spore-post3.html">心理FM</a></div></li>
                </ul>  
                <div id="A3-left-text-3">你要按自己喜欢的方式活下去。</div>  
            </div>
            
        </div>
  
        <div id="A3-middle">
            
            <div id="wrapper-post4" class="text-part-A5">
                <a href="spore-post8.html"><div id="A3-middle-image-4"><img src="<%= require('../image/image3-01.jpg') %>"  alt="Another post" title="Another post" class="grow"/></div></a>
            
                <div id="wrapper-A3-middle-date-4">
                    <div id="A3-middle-date-4">19 nov, 2016</div>
                    <div id="A3-middle-icone-4"></div>
                </div> 
                <ul>
                    <li><div id="A3-middle-title-4"><a href="spore-post8.html">抑郁倾向的测试</a></div></li>
                </ul>  
                <div id="A3-middle-text-4">帮助你了解自己的抑郁程度。</div>  
            </div>
            
            <div id="wrapper-post5" class="text-part-A5">
                <a href="spore-post5.html"><div id="A3-middle-image-5"><img src="<%= require('../image/image4-01.jpg') %>"  alt="Another post" title="Another post" class="grayscale" /></div></a>
            
                <div id="wrapper-A3-middle-date-5">
                    <div id="A3-middle-date-5">18 nov, 2016</div>
                    <div id="A3-middle-icone-5"></div>
                </div> 
                <ul>
                    <li><div id="A3-middle-title-5"><a href="spore-post5.html">树洞</a></div></li>
                </ul> 
                <div id="A3-middle-text-5">全世界都在倾听你。</div>  
            </div>
            
            <!---<div id="wrapper-post6" class="text-part-A5">
            
                <div class="video-container-6">
                    <iframe src="" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                
                <div id="wrapper-A3-middle-date-6">
                    <div id="A3-middle-date-6">17 nov, 2016</div>
                    <div id="A3-middle-icone-6"></div>
                </div> 
                <ul>
                    <li><div id="A3-middle-title-6"><a href="spore-post6.html">Post a Vimeo video</a></div></li>
                </ul> 
                <div id="A3-middle-text-6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>  
            </div>--->
        
        
        </div>
        
        <div id="A3-right">
        
                <!---<div id="wrapper-post7" class="text-part-A5">
                <div class="video-container-1">
                    <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
                </div>
            
                <div id="wrapper-A3-right-date-7">
                    <div id="A3-right-date-7">16 nov, 2016</div>
                    <div id="A3-right-icone-7"></div>
                </div> 
                <ul>
                    <li><div id="A3-right-title-7"><a href="spore-post7.html">Another video post</a></div></li>
                </ul>
                <div id="A3-right-text-7">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam</div>  
            </div>--->
            
            <div id="wrapper-post8" class="text-part-A5">
                <a href="spore-post4.html"><div id="A3-right-image-8"><img src="<%= require('../image/image5-01.jpg') %>"  alt="Post with transition image" title="Post with transition image" class="grow" /></div></a>
            
                <div id="wrapper-A3-right-date-8">
                    <div id="A3-right-date-8">15 nov, 2016</div>
                    <div id="A3-right-icone-8"></div>
                </div> 
                <ul>
                    <li><div id="A3-right-title-8"><a href="spore-post4.html">正能量视窗</a></div></li>
                </ul>  
                <div id="A3-right-text-8">感受世界的温暖</div>  
            </div>
            
            <div id="wrapper-post9" class="text-part-A5">
                <a href="spore-post9.html"><div id="A3-right-image-9"><img src="<%= require('../image/image2-01.jpg') %>"  alt="Another post" title="Another post" class="grow"/></div></a>
            
                <div id="wrapper-A3-right-date-9">
                    <div id="A3-right-date-9">14 nov, 2016</div>
                    <div id="A3-right-icone-9"></div>
                </div> 
                <ul>
                    <li><div id="A3-right-title-9"><a href="spore-post9.html">有关抑郁症的文章</a></div></li>
                </ul>
                <div id="A3-right-text-9">更加深入的了解。</div>  
            </div>
        
        </div>
    <div class="calage"></div>     
</div>

<!-- PART 4 - BOUTON PAGE 1-4 -->

<div id="A4" class="object">

    <div id="wrapper-A4" class="wow bounceInRight" data-wow-offset="10">
        
        
        <div id="page1" class="object">
            <div id="text-page1"><strong>1</strong></div>
        </div>
        
        <div id="main-page2">
            <div id="page2" class="object">
                <div id="text-page2" class="object"><strong>2</strong></div>
            </div>
        </div>
        
        <div id="main-page3">
            <div id="page3" class="object">
                <div id="text-page3" class="object"><strong>3</strong></div>
            </div>
        </div>
        
        <div id="main-page4">
            <div id="page4" class="object">
                <div id="text-page4" class="object"><strong>4</strong></div>
            </div>
        </div>
        
    </div>

</div>

<!-- PART 5 - SUB MENU AND SHORTCUTS -->

<div id="A5"> 
 
    <div id="wrapper-A5">
    
        <div id="wrapper-part-left" class="text-part-A5">
            <div id="A5-left" class="wow flipInX" data-wow-offset="10">
                <div id="left-text-post"><strong>Our recent post</strong></div>
                <div id="left-line-post"></div>
                <div id="left-line2-post"></div>
            <ul>    
                <li><div id="left-text-post-1"><strong><a href="spore-post1.html">Post a youtube video</a></strong></div></li>
                <li><div id="left-text-post-2"><strong><a href="spore-post2.html">Post an animated image</a></strong></div></li>
                <li><div id="left-text-post-3"><strong><a href="spore-post5.html">Post featured image</a></strong></div></li>
                <li><div id="left-text-post-4"><strong><a href="spore-post3.html">Auto-resized image</a></strong></div></li>
            </ul>
            </div>
        </div>
        
        <div id="wrapper-part-mid" class="text-part-A5">
            <div id="A5-middle" class="wow flipInX" data-wow-offset="10" data-wow-delay="0.2s">
                <div id="mid-text-post"><strong>Categories</strong></div>
                <div id="mid-line-post"></div>
                <div id="mid-line2-post"></div>
            <ul>    
                <li><div id="mid-text-post-1"><strong><a href="spore-cat-video.html">Video</a></strong></div></li>
                <li><div id="mid-text-post-2"><strong><a href="spore-cat-hotpost.html">Hot articles</a></strong></div></li>
                <li><div id="mid-text-post-3"><strong><a href="spore-cat-image.html">Image</a></strong></div></li>
            </ul>
            </div>
        </div>
        
        <div id="wrapper-part-right" class="text-part-A5">
            <div id="A5-right" class="wow flipInX" data-wow-offset="10" data-wow-delay="0.4s">
                <div id="right-text-post"><strong>Why will you chose my blog theme ?</strong></div>
                <div id="right-line-post"></div>
                <div id="right-line2-post"></div>
            <ul>    
                <li><div id="right-text-post-1"><strong><a href="#">RWD - Responsive Web design</a></strong></div></li>
                <li><div id="right-text-post-2"><strong><a href="#">New javascript effect and animations</a></strong></div></li>
                <li><div id="right-text-post-3"><strong><a href="#">Extensible bloc adapted</a></strong></div></li>
                <li><div id="right-text-post-4"><strong><a href="#">No need to modify the code</a></strong></div></li>
           </ul>
           </div>
        </div>
        
    <div class="A5-calage"></div>
    </div>
    
</div>


<!-- PART 5 BIS - SUB MENU AND RELATED NUMBERS -->

<div id="A5b"> 
 
    <div id="wrapper-A5b">
    
        <div id="wrapper-A5b-part-left">
            <div id="A5b-left" class="wow flipInX" data-wow-offset="10">
                <div id="left-A5b-text-post">0</div>
                <div id="left-A5b-line-post"></div>
                <div id="left-A5b-line2-post"></div>
                <div id="left-A5b-text-post-1"><strong>Posts</strong></div>
            </div>
        </div>
        
        <div id="wrapper-A5b-part-mid">
            <div id="A5b-middle" class="wow flipInX" data-wow-offset="10" data-wow-delay="0.2s">
                <div id="mid-A5b-text-post">0</div>
                <div id="mid-A5b-line-post"></div>
                <div id="mid-A5b-line2-post"></div>
                <div id="mid-A5b-text-post-1"><strong>Likes</strong></div>
            </div>
        </div>
        
        <div id="wrapper-A5b-part-right">
            <div id="A5b-right" class="wow flipInX" data-wow-offset="10" data-wow-delay="0.4s">
                <div id="right-A5b-text-post">0</div>
                <div id="right-A5b-line-post"></div>
                <div id="right-A5b-line2-post"></div>
                <div id="right-A5b-text-post-1"><strong>Views</strong></div>
           </div>
        </div>
        
    <div class="A5b-calage"></div>
    </div>
    
</div>

<!-- PART 6 - SOCIAL PART -->

<div id="A6">

<div id="wrapper-social" class="wow bounceInLeft" data-wow-offset="10">
    
        <div id="main-behance">
            <div id="cadre-behance" class="object">
                <div id="behance" class="object">E</div>
            </div>
        </div>
        
        <div id="main-dribbble">
            <div id="cadre-dribbble" class="object">
                <div id="dribbble" class="object">D</div>
            </div>
        </div>

        <div id="main-facebook">
            <div id="cadre-facebook" class="object">
                <div id="facebook" class="object">F</div>
            </div>
        </div>
 
        <div id="main-google">
            <div id="cadre-google" class="object">
                <div id="google" class="object">G</div>
            </div>
        </div>
        
        <div id="main-linked">
            <div id="cadre-linked" class="object">
                <div id="linked" class="object">I</div>
            </div>
        </div>
        
    </div>
</div>

<!-- PART 7 - COPYRIGHT -->

<div id="A7">

    <div id="wrapper-A7">
    <div id="line-A7"></div>
    <div id="copyright"><strong>Life will be better<a href="http://www.baidu.com/" target="_blank" title="AIMER">AIMER</a> - Collect from <a href="" title="depress" target="_blank">帮助抑郁症</a></strong></div>
    </div>
</div>
</body>
</html>
