<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Document</title>
  <style type="text/css">
  body{
    background: #FFFAFA;
  }
  .q1{
    float: right;
    width: 80%;
  }
    .question{
       width: 70%; 
       margin:0 auto;
       background: white;
    }
    .btn01{
      background: #AEEEEE;
      border: none;
      color: white;
      padding: 15px 32px;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px 0px 0px 150px;
    }
    .question1{
      float: left;
      width: 100%
    }
  </style>
</head>
<body>
        <img src="<%=require('../image/banner1.jpg')%>">
        <nav id="menu-wrap"><div id="menu-trigger">Menu</div>    
                <ul id="menu" style="display: none;">
                    <li><a href="index.html">首页</a></li>
                    <li>
                        <a href="user-center.html">个人中心</a>
                    </li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    </li>
                </ul>
            </nav>
        <div class="question">
          <div class="q1">
            <pre>
                    <div class="test1">
                      <p>1.我觉得闷闷不乐，情绪低沉</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test2">
                      <p>2.我觉得一天之中早晨最好</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test3">
                      <p>3.我一阵阵哭出来或者想哭</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test4">
                      <p>4.我吃的跟平时一样多</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test5">
                      <p>5.我晚上睡眠不太好</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test6">
                      <p>6.我与异性亲密接触时和以往一样感到愉快</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test7">
                      <p>7.我发觉我的体重在下降</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test8">
                      <p>8.我有便秘的苦恼</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test9">
                      <p>9.我心跳比平时快</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test10">
                      <p>10.我无缘无故的感到疲乏</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test11">
                      <p>11.我的头脑跟平时一样清楚</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test12">
                      <p>12.我觉得经常做的事情并没困难</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test13">
                      <p>13.我觉得不安而平静不下来</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test14">
                      <p>14.我对未来抱有希望</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test15">
                      <p>15.我比平常容易生气激动</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test16">
                      <p>16.我觉得自己做出的决定是容易的</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test17">
                      <p>17.我觉得自己是个有用的人，有人需要我</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test18">
                      <p>18.我的生活过得很有意思</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test19">
                      <p>19.我认为如果我死了别人会生活的更好一些</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                    <br>
                    <div class="test20">
                      <p>20.平常感兴趣的事我仍然照样会感兴趣</p>
                      <input type="radio" name="">偶尔
                      <input type="radio" name="">有时
                      <input type="radio" name="">经常
                      <input type="radio" name="">持续
                    </div>
                      </pre>
                    </div>

  </div>
    <div class="question1">
    <input type="button" name="" value="提交" class="btn01">

<div id="copyright"><strong>Life will be better<a href="http://www.baidu.com/" target="_blank" title="AIMER">AIMER</a> - Collect from <a href="" title="depress" target="_blank">帮助抑郁症</a></strong></div>
</div>
  </script>
</body>
</html>