<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">

	<title></title>
</head>
<body>
<!-- <script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script> -->
<!-- MENU TAB -->
<div id="main-wrapper-menu">
  <div id="wrapper-cross"></div>
	<div id="wrapper-menu">
	
    <div class="recent-post text-part-menutab">
        <ul>
        <li><div id="recent-post-title">Our recent post</div></li>
    	<li><div id="recent-post-1"><a href="spore-post1.html">Post a youtube video</a></div></li>
		<li><div id="recent-post-2"><a href="spore-post2.html">Post an animated image</a></div></li>
		<li><div id="recent-post-3"><a href="spore-post5.html">Post featured image</a></div></li>
		<li><div id="recent-post-4"><a href="spore-post3.html">Auto-resized image</a></div></li>
        </ul>
    </div>
    
	<div class="category-post text-part-menutab">
    	<div id="line-category-post"></div>
        <ul>
        <li><div id="category-post-title">Categories post</div></li>
    	<li><div id="category-post-1"><a href="spore-cat-video.html">Video articles</a></div></li>
		<li><div id="category-post-2"><a href="spore-cat-hotpost.html">Hot articles</a></div></li>
		<li><div id="category-post-3"><a href="spore-cat-image.html">Images</a></div></li>
        </ul>
    </div>
    
    </div>
</div>

<!-- BOUTON MENU TAB -->

<div id="wrapper-plus" class="object"></div>

<!-- HEADER -->

<div id="A1-main">

    <div id="wrapper-logo">
	<a href="index.html"><div id="logo" class="shadow object"></div></a>
	</div>
    
    <div id="A1">
    
        <div class="blank"></div>
    	<div id="A0"></div>
    	<div id="A0-2"></div>
    	<div id="trame"></div>
 
	</div>
        
</div>

<div id="A2">
        
        <div id="text-2">Post a Youtube video</div>
    
        <div id="wrapper-A2-date-1">
            		
                <div id="A2-date-1">22 nov, 2018</div>
                <div id="A2-icone-1"></div>  
                <div id="A2-icone-eye-1"></div>
        </div> 
</div>
    

<div id="wrapper-A3" class="object">
    
    	<div id="A3-top">
			<div id="A3-image">
            	<div class="video-container-1">
					<iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
            	</div>
            </div>	
        </div>
        
        <div id="A3-top-2" class="wow fadeInY" data-wow-offset="10">
			<div id="A3-text-1">抑郁症是世界第四大疾病，预计到2020年将成为第二大；
			但我国对抑郁症的医疗防治还处在识别率低的局面，地级市以上的医院对其识别率不足20%，
			只有不到10%的患者接受了相关的药物治疗；而且，同时，抑郁症的发病（和自杀事件）
			已开始出现低龄（大学，乃至中小学生群体）化趋势。
			 [2]  综上所述，对抑郁症的科普、防范、治疗工作亟待重视，抑郁症防治已被列入全国精神卫生工作重点。</div>	
        </div>
</div>



<div id="A4" class="object">

	<div id="wrapper-A4" class="text-part-A5">
    	
    <div id="line1-A4"></div>
    <div id="line2-A4"></div> 
    
    <ul> 
    <li><div id="A4-nextpage-1"><a href="index.html">&#171;&nbsp;&nbsp;Previous page</a></div></li> 
    <li><div id="A4-nextpage-2"><a href="spore-post2.html">Next page&nbsp;&nbsp;&#187;</a></div></li>  
    </ul>
        
    </div>

</div>

<div id="A4a" class="object">

	<div id="wrapper-A4a" class="wow bounceInRight" data-wow-offset="10">
    	
    <div id="A4a-title-1">Leave us a Comment<br><span style="color:#CCC;">Your email address will not be published. Required fields are marked with *</span></div>  
        
    </div>

</div>


<div id="A4b" class="object">

	<div id="wrapper-A4b">
    
    	<div id = "conteneur">
	
 			<form id="contact" method="post" action="#">
	 				<div id="er-message"></div>
    			<fieldset>
					<p><input type="text" id="nom" name="nom" tabindex="1" placeholder="Name*"/></p>
					<p><input type="text" id="email" name="email" tabindex="2" placeholder="Email*"/></p>
					<p><input type="text" id="objet" name="objet" tabindex="3" placeholder="Website"/></p>
					<p><textarea id="message" name="message" maxlength="500" placeholder="Comment" tabindex="4" cols="30" rows="8"></textarea></p>
				</fieldset>
 
				<div style="text-align:center;"><input type="submit" name="envoi" value="Send" /></div>
  			</form>
    	</div>
        
    </div>

</div>

<!-- PART 5 - SUB MENU AND SHORTCUTS -->

<div id="A5"> 
 
	<div id="wrapper-A5">
    
        <div id="wrapper-part-left" class="text-part-A5">
        	<div id="A5-left" class="wow flipInX" data-wow-offset="10">
    			<div id="left-text-post"><strong>Our recent post</strong></div>
            	<div id="left-line-post"></div>
            	<div id="left-line2-post"></div>
			<ul>	
                <li><div id="left-text-post-1"><strong><a href="spore-post1.html">Post a youtube video</a></strong></div></li>
				<li><div id="left-text-post-2"><strong><a href="spore-post2.html">Post an animated image</a></strong></div></li>
				<li><div id="left-text-post-3"><strong><a href="spore-post5.html">Post featured image</a></strong></div></li>
				<li><div id="left-text-post-4"><strong><a href="spore-post3.html">Auto-resized image</a></strong></div></li>
        	</ul>
            </div>
        </div>
        
        <div id="wrapper-part-mid" class="text-part-A5">
        	<div id="A5-middle" class="wow flipInX" data-wow-offset="10" data-wow-delay="0.2s">
    			<div id="mid-text-post"><strong>Categories</strong></div>
            	<div id="mid-line-post"></div>
            	<div id="mid-line2-post"></div>
			<ul>	
                <li><div id="mid-text-post-1"><strong><a href="spore-cat-video.html">Video</a></strong></div></li>
				<li><div id="mid-text-post-2"><strong><a href="spore-cat-hotpost.html">Hot articles</a></strong></div></li>
				<li><div id="mid-text-post-3"><strong><a href="spore-cat-image.html">Image</a></strong></div></li>
        	</ul>
            </div>
        </div>
        
        <div id="wrapper-part-right" class="text-part-A5">
        	<div id="A5-right" class="wow flipInX" data-wow-offset="10" data-wow-delay="0.4s">
    			<div id="right-text-post"><strong>Why will you chose my blog theme ?</strong></div>
            	<div id="right-line-post"></div>
            	<div id="right-line2-post"></div>
			<ul>	
                <li><div id="right-text-post-1"><strong><a href="">RWD - Responsive Web design</a></strong></div></li>
				<li><div id="right-text-post-2"><strong><a href="#">New javascript effect and animations</a></strong></div></li>
				<li><div id="right-text-post-3"><strong><a href="#">Extensible bloc adapted</a></strong></div></li>
				<li><div id="right-text-post-4"><strong><a href="#">No need to modify the code</a></strong></div></li>
           </ul>
           </div>
        </div>
        
    <div class="A5-calage"></div>
	</div>
    
</div>



<div id="A5b"> 
 
	<div id="wrapper-A5b">
    
        <div id="wrapper-A5b-part-left">
        	<div id="A5b-left" class="wow flipInX" data-wow-offset="10">
    			<div id="left-A5b-text-post">14</div>
            	<div id="left-A5b-line-post"></div>
            	<div id="left-A5b-line2-post"></div>
				<div id="left-A5b-text-post-1"><strong>Posts</strong></div>
        	</div>
        </div>
        
        <div id="wrapper-A5b-part-mid">
        	<div id="A5b-middle" class="wow flipInX" data-wow-offset="10" data-wow-delay="0.2s">
    			<div id="mid-A5b-text-post">235</div>
            	<div id="mid-A5b-line-post"></div>
            	<div id="mid-A5b-line2-post"></div>
				<div id="mid-A5b-text-post-1"><strong>Likes</strong></div>
        	</div>
        </div>
        
        <div id="wrapper-A5b-part-right">
        	<div id="A5b-right" class="wow flipInX" data-wow-offset="10" data-wow-delay="0.4s">
    			<div id="right-A5b-text-post">6509</div>
            	<div id="right-A5b-line-post"></div>
            	<div id="right-A5b-line2-post"></div>
				<div id="right-A5b-text-post-1"><strong>Views</strong></div>
           </div>
        </div>
        
    <div class="A5b-calage"></div>
	</div>
    
</div>


<div id="A6">

<div id="wrapper-social" class="wow bounceInLeft" data-wow-offset="10">
    
    	<div id="main-behance">
    		<div id="cadre-behance" class="object">
        		<div id="behance" class="object">E</div>
    		</div>
        </div>
        
        <div id="main-dribbble">
    		<div id="cadre-dribbble" class="object">
      	  		<div id="dribbble" class="object">D</div>
    		</div>
        </div>

		<div id="main-facebook">
    		<div id="cadre-facebook" class="object">
	        	<div id="facebook" class="object">F</div>
        	</div>
        </div>
 
		<div id="main-google">
    		<div id="cadre-google" class="object">
        		<div id="google" class="object">G</div>
        	</div>
        </div>
        
        <div id="main-linked">
    		<div id="cadre-linked" class="object">
        		<div id="linked" class="object">I</div>
        	</div>
        </div>
        
    </div>
</div>

<div id="A7">

    <div id="wrapper-A7">
    <div id="line-A7"></div>
    <div id="copyright"><strong>Life will be better<a href="http://www.baidu.com/" target="_blank" title="AIMER">AIMER</a> - Collect from <a href="" title="depress" target="_blank">帮助抑郁症</a></strong></div>
    </div>
</div>


</body>
</html>
