<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
     <div class="page-wrap w">
            <div class="content with-nav">
                <div class="panel">
                    <div class="panel-title">修改密码</div>
                    <div class="panel-body">
                        <div class="user-info">
                            <div class="form-line">
                                <span class="label">原密码：</span>
                                <input type="password" class="input" id="password" autocomplete="off"/>
                            </div>
                            <div class="form-line">
                                <span class="label">新密码：</span>
                                <input type="password" class="input" id="password-new" autocomplete="off"/>
                            </div>
                            <div class="form-line">
                                <span class="label">确认密码：</span>
                                <input type="password" class="input" id="password-confirm" autocomplete="off"/>
                            </div>
                            <span class="btn btn-submit">提交</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<div id="A7">

    <div id="wrapper-A7">
    <div id="line-A7"></div>
    <div id="copyright"><strong>Life will be better<a href="http://www.baidu.com/" target="_blank" title="AIMER">AIMER</a> - Collect from <a href="" title="depress" target="_blank">帮助抑郁症</a></strong></div>
    </div>
</div>

</html>