<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">

	<title><%= htmlWebpackPlugin.options.title %>登陆</title>

	<!-- Behavioral Meta Data -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="<%= require('../image/small-logo-01.png') %>" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

    
</head>
<body>
    <script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <div class="page-wrap1">
        <div class="w">
            <div class="user-con">
                <div class="user-title">用户登录</div>
                <div class="user-box">
                    <div class="error-item">
                        <i class="fa fa-minus-circle erro-icon"></i>
                        <p class="err-msg">Error</p>
                    </div>
                    <div class="user-item">
                        <label class="user-label">
                            <i class="fa fa-user"></i>
                        </label>
                        <input class="user-content" id="username" placeholder="请输入用户名" autocomplete="off">
                    </div>
                    <div class="user-item">
                        <label class="user-label" for='password'>
                            <i class="fa fa-lock"></i>
                        </label>
                        <input type="password"class="user-content" id="password" placeholder="请输入密码" autocomplete="off">
                    </div>
                    <a class="btn btn-submit" id="submit">登录</a>
                    <div class="link-item">
                        <a href="./user-pass-reset.html" class="link" target="_blank">忘记密码</a>
                        <a href="./user-register.html" class="link" target="_blank">免费注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



<div id="A6">

<div id="wrapper-social" class="wow bounceInLeft" data-wow-offset="10">
    
        <div id="main-behance">
            <div id="cadre-behance" class="object">
                <div id="behance" class="object">E</div>
            </div>
        </div>
        
        <div id="main-dribbble">
            <div id="cadre-dribbble" class="object">
                <div id="dribbble" class="object">D</div>
            </div>
        </div>

        <div id="main-facebook">
            <div id="cadre-facebook" class="object">
                <div id="facebook" class="object">F</div>
            </div>
        </div>
 
        <div id="main-google">
            <div id="cadre-google" class="object">
                <div id="google" class="object">G</div>
            </div>
        </div>
        
        <div id="main-linked">
            <div id="cadre-linked" class="object">
                <div id="linked" class="object">I</div>
            </div>
        </div>
        
    </div>
</div>

<div id="A7">

    <div id="wrapper-A7">
    <div id="line-A7"></div>
    <div id="copyright"><strong>Life will be better<a href="http://www.baidu.com/" target="_blank" title="AIMER">AIMER</a> - Collect from <a href="" title="depress" target="_blank">帮助抑郁症</a></strong></div>
    </div>
</div>


</body>
</html>
