<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">Depress</a>
                    <span>></span>
                    <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
                </div>
            </div>
        </div>
        <div class="page-wrap w">
            <div class="content with-nav">
                <div class="panel">
                    <div class="panel-title">个人中心</div>
                    <div class="panel-body">
                        <div class="loading"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="A7">

    <div id="wrapper-A7">
    <div id="line-A7"></div>
    <div id="copyright"><strong>Life will be better<a href="http://www.baidu.com/" target="_blank" title="AIMER">AIMER</a> - Collect from <a href="" title="depress" target="_blank">帮助抑郁症</a></strong></div>
    </div>
</div>

    </body>
</html>